<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us | Gas Booking</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="about.css">
 
</head>
<body>


  <header>
    <div class="hero">
      <div class="hero-content">
        <h1>About Us</h1>
      </div>
    </div>
  </header>

  <main>
    <section class="company-info">
      <div class="container">
        <h2>Our Company</h2>
        <p>Gas Booking is a leading provider of online gas booking services in India. Our mission is to make it easy for customers to book gas cylinders online, while also providing excellent customer service and support.</p>
      </div>
    </section>
        <section class="company-services">
      <div class="container">
        
          <div class="image-text">
            
            <h2>Company services</h2>
          </div>
          <div class="image-text">
            <img src="images/order_online.jpg">&nbsp;&nbsp;
            <p>Online booking: Customers can place an order for gas cylinders online, either through the website or mobile app.</p>
          </div>
          <div class="image-text">
            <img src="images/refill.jpg">&nbsp;&nbsp;
            <p> Refill reminders:our company send reminders to customers when it's time to book a new gas cylinder refill, ensuring they never run out of gas.</p>
          </div>

          <div class="image-text">
            <img src="images/tracking.jpg">&nbsp;&nbsp;
            <p>Delivery tracking: Customers can track the status of their gas delivery online, including when the delivery is expected to arrive.</p>
          </div>
          <div class="image-text">
            <img src="images/payment.jpg">&nbsp;&nbsp;
            <p>Payment options: We typically offer various payment options to customers, such as credit/debit cards, net banking, mobile wallets, and UPI.</p>
          </div>
          <div class="image-text">
            <img src="images/support.jpg">&nbsp;&nbsp;
            <p>Customer support: We assist customers with their queries, complaints, or concerns related to gas bookings.</p>
          </div>
       

          
           

           

     
      </div>
    </section>

    <section class="Team-info">
      <div class="container">
        <h2>Our Team</h2>
        <div class="row">
          <div class="col">
            <div class="Team">
              <img src="images/user.jpg" alt="teammember1">
              <h3>J V Ashok</h3>
              <p>Lead</p>
            </div>
          </div>
          <div class="col">
            <div class="official">
              <img src="images/user.jpg" alt="teammember2">
              <h3>Sivasai</h3>
              <p>Member</p>
            </div>
          </div>
          <div class="col">
            <div class="official">
              <img src="images/user.jpg" alt="teammember3">
              <h3>Praneet</h3>
              <p>Member</p>
            </div>
          </div>
           
           
        </div>
        <div class="row2">
            <div class="col">
              <div class="official">
                <img src="images/user.jpg" alt="teammember4">
                <h3>Aneesh</h3>
                <p>Member</p>
              </div>
            </div>
            <div class="col">
              <div class="official">
                <img src="images/user.jpg" alt="teammember5">
                <h3>Harideep</h3>
                <p>Member</p>
              </div>
            </div>
        </div>
      </div>
    </section>
  </main>

</body>
</html>