<!DOCTYPE html>
<html>
<head>
	<title>LPG Login Page</title>
	<link rel = stylesheet href="login.css">
	<link rel="stylesheet" href="nav.css">

<body>

	

	<div class="container">
       
		<h2>Employee Login</h2>
		<!--  name="myform" id ="f" -->
		<form name="myformemployee" method="post" action="/employeelogin" > 
			<label for="email">Email</label><br>
			<input type="email" id="email" name="email" placeholder="Enter your Email"><br>

			<label for="password">Password</label>
			<input type="password" id="password" name="password" placeholder="Enter your password">
            <br>
			<input type="submit" value="Login">
            <br><br>
            <p>No an employee? <a href="#">Collab with us</a></p>
			<p><a href="/"> <- Home</a></p>
		</form>
	</div>
</body>
</html>