<!DOCTYPE html>
<html>
<head>
	<title>Reg Form</title>
	<link rel="stylesheet" type="text/css" href="employeeregister.css">
    <link rel="stylesheet" href="nav.css">

    <script src="js/signup.js"></script>
</head>
<body>

    <%- include('nav'); -%>


	<div class="container">
        <form action="/employeeregister" method="post" id="form1" name="form1">
		<h1>Delivery Boy Registration form</h1>
		
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>
            <span class = "invalid-form" id = "invalid-name"></span>

			<label for="phone">Phone:</label>
			<input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required>
            <span class = "invalid-form" id = "invalid-mobile"></span>
            <br>

            <label for="email">Email:</label>
            <input type = "email" id="email" name = "email" required>
            <span class = "invalid-form" id = "invalid-email"></span>
            <br>
            
            <label for="area">Select your area for delivery </label>
            <select name="dropdown" id = "dropdown">
                <option value = "Area1">Area1</option>
                <option value = "Area2">Area2</option>
                <option value = "Area3">Area3</option>
                <option value = "Area4">Area4</option>
                <option value = "Area5">Area5</option>
            </select>

            <label for="pass">Password:</label>
        <input type="password" id = "pass" name="pass" required>
        <span class = "invalid-form" id ="invalid-pass"></span>
       

        <label for="cpassword">Confirm-Password:</label>
        <input type="password" id = "cpassword" name="cpassword" required>
        <span class = "invalid-form" id ="invalid-cp"></span>
        
			
<br><br>
			<input type="submit" value="Submit">
		</form>
	</div>

    <script>
      
        var form=document.getElementById('form1');
         form.addEventListener('submit',function (e){
          
           if(nameValidation()==false  || EmailValidation()==false || PValidation()==false || CPValidation()==false || MobileValidation() == false || AadharValidation() == false){
             e.preventDefault();  
             
           }
           else {
             console.log("Sign in successfull");
           
           }
           });
          </script>
</body>
</html>