<head>
  
</head>
<footer class="footer">
    <div class="footer-div-1">
        <a class="footer-icons" href=""><i class="fa-brands fa-twitter fa-lg"></i></a>
        <a class="footer-icons" href=""><i class="fa-brands fa-instagram fa-lg"></i></a>
        <a class="footer-icons" href=""><i class="fa-brands fa-facebook fa-lg"></i></a>
    </div>
    <div class="footer-div-2">
        <br>
        <p>Copyright ©2023 All rights reserved | Made by Our Team</p>
    </div>
</footer>