<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="home.css">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-c5wRJ/YFtGedrLmc5Qq7Bz9HJ1pIP+HXcYMYg/NGV7Oxsf+CTbnV7h+Z0zTKV7Qf9XJlZGKjYtr5w5w5FtRbMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://kit.fontawesome.com/f19af38efd.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar nav">
            <!-- <img class="nav-img" src="images/logo-modified.png" alt=""> -->
            <ul class="navbar-ul-links">
                <a class="navbar-li-links" href="/">Home</a>
                <a class="navbar-li-links" href="/about">About Us</a>
                <a class="navbar-li-links" href="/blog">Blog</a>
            </ul>
            <div class="navbar-main-div-links">
            <div class="nav-creds dropdown row">

                <div class="col-6">
                <a class="nav-cred-links nav-cred-links-2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Login</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <a class="dropdown-item" href="/userlogin">Userlogin</a>
                    <a class="dropdown-item" type="button" href="/employeelogin">DeliveryBoy login</a>
                    <a class="dropdown-item" type="button" href="/adminlogin">Admin</a>
                </div>
                </div>


                <div class="col-6">
                    <a class="nav-cred-links" type="button" id="xyz" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Register</a>
                    <div class="dropdown-menu" aria-labelledby="xyz">
                        <a class="dropdown-item" href="/userregister">Userregister</a>
                        <a class="dropdown-item" type="button" href="/employeeregister">Delivery Boy register</a>
                    </div>
                    </div>
            </div>
            </div>
        </nav>
        <header class="row header">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="header-content">
                    <h1>Delivery With in six hours</h1>
                    <p>Welcome to Your Best Gas Agency</p>
                    <p class="header-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo error qui similique quia id itaque libero quam tempore ullam vel eveniet odit dignissimos iusto a voluptas laborum, atque sint minima quae doloribus magnam. Ut consequatur officiis quisquam quaerat cumque voluptatum quia. Veniam molestiae harum cupiditate totam unde, ipsam fugiat delectus debitis voluptatem magnam nesciunt quibusdam fuga iste suscipit natus, amet dolores sapiente et accusantium necessitatibus repellat earum ducimus. Explicabo nobis neque autem iure mollitia nesciunt rerum placeat vero ex?</p>
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 header-img" style="background-image: url(images/header1.jpg);"></div>
        </header>
        <section class="section-1 row">
            <div class="col-lg-6 section-div-1">
                <img class="section-img" src="images/section.jpeg" alt="">
            </div>
            <div class="col-lg-6">
                <h1 class="section-heading">Get a new connection </h1>
                <a href="/userregister" class="section-btn btn btn-primary btn-lg">Book new  Connection <i class="fa-solid fa-arrow-right fa-lg"></i></a>
            </div>
        </section>
        <div class="collab-div row">
            <div class="col-lg-6">
                <h1 class="collab-heading">Work for Us</h1>
                <p class="collab-text">"Join our team and become an integral part of our mission to deliver excellence. We are committed to providing the highest level of service and satisfaction to our customers, and we need passionate individuals like you to help us achieve that. Join us in bringing joy and convenience to people's lives through timely and efficient delivery services. Apply now and let's create a brighter future together!"</p>
                
                    <a href="/employeeregister" type="button" class="btn btn-primary btn-lg">Register</a>
                
            </div>
            <div  class="col-lg-6" >
                <img class="collab-img" src="images/shakehand.jpeg" alt="">
            </div>
        </div>

        <section id="testimonials">

            <div id="testimonial-carousel" class="carousel slide" data-ride="carousel" data-interval="5000">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <h2 class="testimonial-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, odio quam voluptate quae qui exercitationem eum adipisci quos fugit tempore.</h2>
                    <img class="testimonial-img" src="images/images.jpeg" alt="men-profile">
                    
                </div>
                <div class="carousel-item">
                    <h2 class="testimonial-text">In asit dolor sit, amet consectetur adipisicing elit. Culpa deserunt consequuntur explicabo! Amet corrupti iste, minus atque saepe adipisci temporibus?</h2>
                    <img class="testimonial-img" src="images/women.jpeg" alt="men-profile">
                    
                </div>
            </div>
            <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only tabs">Previous</span>
            </a>
            <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only tabs">Next</span>
            </a>
          </div>
          </section>

          <%-include('footer.ejs');%>

          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>
</html>