<head>
    <link rel ="stylesheet" href="nav.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-c5wRJ/YFtGedrLmc5Qq7Bz9HJ1pIP+HXcYMYg/NGV7Oxsf+CTbnV7h+Z0zTKV7Qf9XJlZGKjYtr5w5w5FtRbMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/f19af38efd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
</head>

<nav class="navbar nav">
    <!-- <img class="nav-img" src="images/logo-modified.png" alt=""> -->
    <ul class="navbar-ul-links">
        <a class="navbar-li-links" href="/">Home</a>
        <a class="navbar-li-links" href="/about">About Us</a>
        <a class="navbar-li-links" href="/Blog">Blog</a>
    </ul>
    <div class="navbar-main-div-links">
    <div class="nav-creds dropdown row">

        <div class="col-6">
        <a class="nav-cred-links nav-cred-links-2" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Login</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item" href="/userlogin">Userlogin</a>
            <a class="dropdown-item" type="button" href="/employeelogin">DeliveryBoy login</a>
            <a class="dropdown-item" type="button" href="/adminlogin">Admin</a>
        </div>
        </div>


        <div class="col-6">
            <a class="nav-cred-links" type="button" id="xyz" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Register</a>
            <div class="dropdown-menu" aria-labelledby="xyz">
                <a class="dropdown-item" href="/userregister">Userregister</a>
                <a class="dropdown-item" type="button" href="/employeeregister">Delivery Boy register</a>
            </div>
            </div>
    </div>
    </div>
</nav>