.container{
    max-width: 900px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 450px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}



.item1 {
    padding: 20px;
}
  
.item2 {
    padding: 20px;
}


.item2 img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    padding-left: 20px;
}

.item1-h1{
    padding-bottom: 20px;
}

.item1-p1{
    padding-bottom: 10px;
    /* background-color: rgb(182, 197, 210); */
}

.item1-p2{
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.item1 {
    position: relative;
  }
  
  .item1-link {
    position: absolute;
    bottom: 70px;
   
  }