nav{
  width:100%;
  margin:0;
  display:block;
  font-size: larger;

}

nav ul{
  background-color: #003366;
  overflow:hidden;
  margin:0;
  padding:20px;

}

ul.topnav li{
  list-style: none;
  float: left;
  
}

ul.topnav li.topnav-right{
  float:right;
}

ul.topnav li a{
  display:block;
  text-decoration:none;
  min-height:16px;
  text-align:center;
  padding:14px;
  text-transform:uppercase;
  color:white;
}

ul.topnav li a:hover {
  background-color: blue;
  color:white;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #003366;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }


  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 500px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #003366;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .col-lg-6 {
    flex-basis: 48%;
  }

  .pxyz{
    font-weight: 800;
    font-size: 1.5rem;
  }
  
  .xyz {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    font-weight: 700;
    color: #0b0b0b;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .xyz:hover {
    background-color: #556d87;
  }
  